<h1>Witaj w swoim panelu!</h1>

<%= link_to "Przejrzyj sklepy", shops_path %> <%= link_to "Przejrzyj paragony", receipts_path %>
<%= link_to "Dodaj sklep", new_shop_path %> <%= link_to "Dodaj paragony", new_receipt_path %>
