<h1>Witaj w swoim panelu!</h1>

<%= link_to "Przejrzyj sklepy", shops_path, class: "button" %> <%= link_to "Przejrzyj paragony", receipts_path, class: "button" %>
</br>
<%= link_to "Dodaj sklep", new_shop_path, class: "button success" %> <%= link_to "Dodaj paragony", new_receipt_path, class: "button success" %>
