// Place all the styles related to the complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.complaint {
  width: 648px !important;
  height: 100px !important;
}

.progresswidth {
  width: 25% !important;
}

.progress_index {
  width: 100% !important;
}