<fieldset style="width:1400px">
  <legend>Nowy artykuł</legend>

  <div class="large-2 columns">
  <%= f.text_field :name, label:"Nazwa" %>
  </div>

  <div class="large-2 columns">
  <%= f.text_field :brand, label: "Model" %>
  </div>

  <div class="large-2 columns">
  <%= f.text_field :warranty_time, label: "Czas gwarancji (w mies.)", class: "warranty" %>
  </div>

  <div class="large-12 columns">
  <%= link_to "usun artykul", '#', class: "remove_fields button small alert" %>
  </div>

</fieldset>